name: Build Branch

on:
  push:
    branches:
      - master
      - develop

jobs:
  run-unit-tests:
    if: "!contains(github.event.head_commit.message, '[automated release]')"
    name: Run Unit Tests
    runs-on: ubuntu-latest
    container: defrostedtuna/php-nginx:8.0-dev
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: composer install --no-interaction

      - name: Run Unit Tests
        run: |
          php artisan key:generate --env=testing
          vendor/bin/phpunit

  # We only want to build the branch if the commit was not pushed as part of an automated release.
  # In the event the commit was pushed as part of the automated release, it would have already
  # been built as a tag, in which case a container will already exist for the release.
  build-image:
    if: "!contains(github.event.head_commit.message, '[automated release]')"
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: run-unit-tests
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Authenticate with Docker Registry
        run: echo ${{ secrets.DCR_PASSWORD }} | docker login ${{ secrets.DCR_SERVER }} -u ${{ secrets.DCR_USERNAME }} --password-stdin

      - name: Build Container
        run: docker build -t ${{ secrets.DCR_SERVER }}/${{ secrets.DCR_IMAGE_NAME }}:$(echo $GITHUB_REF | awk -F "/" '{print $3}')-$(echo $GITHUB_SHA | cut -c -7) .

      - name: Push Container
        run: docker push ${{ secrets.DCR_SERVER }}/${{ secrets.DCR_IMAGE_NAME }}:$(echo $GITHUB_REF | awk -F "/" '{print $3}')-$(echo $GITHUB_SHA | cut -c -7)